@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+25&family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
     font-family: "Jersey 25", sans-serif;
     font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #252323;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;    
}

main {
    flex: 1;
}

/*barra lateral*/

nav.menu {
    width: 75px;
    height: 100%;
    background-color:#0d155f;
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0 0 #8f9aff;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s ease-in-out
}

nav.menu:hover {
    width: 200px;
}

.botao-menu {
   width: 100%;
   padding-left: 10px;
}

.botao-menu > i {
    color: #e2e2e2;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item{
    transition: .2s ease-in-out;
}

ul li.ativo{
    background-color:#5f6fff70;
}


ul li.item:hover {
    background-color:#8f9aff4d;
}

ul li.item a {
    color: #e2e2e2;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 10%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item a .texto-link {
    margin-left: 70px;
    transition: .3s ease-in-out ;
    opacity: 0;
}

nav.menu:hover .texto-link {
    margin-left: 40px;
    opacity: 2;

} 

ul li.item a .icone > i {
    font-size: 30px;
    margin-left: 10px;
}

/*fim do codigo da barra lateral*/

/*titulo RGB*/

.titulo {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(
        270deg,
        red,
        orange,
        yellow,
        green,
        cyan,
        blue,
        violet
        );
    background-size: 800% 800%;
    -webkit-backgroundclip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: RGB 5s linear infinite;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.1),
                 0 0 20px rgba(255, 255, 255, 0.05);
                 
}

@keyframes RGB{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

/*fim do titulo RGB*/

/*rodapé*/

.footer {
  background-color: #252323;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 3px solid #5f6fff;
}

.footer h4{ 
    font-size: 20px;
}

.footer a {
    color: #838282;
    text-decoration: none;
    transition: .5s ease-in-out;
}

.footer a:hover{
    color: #8f9aff;
    text-decoration: underline;
}

/*fim do rodapé*/

/*propagandas*/

.pop {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    z-index: 999;
}

.conteudo {
    position: relative;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    max-height: 570px;
    height: 90%;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background: rgb(255, 70, 70);
    color: #ffffff;
    cursor: pointer;
}

.fechar:hover{
    background: rgb(200, 50, 50);
}

.conteudo video{
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
}
  

/*fim das propagandas*/

/*Botão dos jogos*/
.botao {
    margin-top: 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease-in-out;
    padding: 5px 7px 5px 7px;
}

.botao a{
    color: #838282;
    text-decoration: none;
    font-size: 20px;
    transition: .3s ease-in-out;
}

.botao:hover {
    transform: scale(1.05);
    background-color:#5f6fff70 ;
}

.botao a:hover {
    color: #e2e2e2;
}

